<h2 style="color:#3300CC;margin-left:3%;">Edit campus food event</h2><br/>

<%= render 'form' %>
<div style="margin-left:3%">
<br/>
<%= link_to 'Show', @campus_food %> |
<%= link_to 'Back', campus_foods_path %>
</div>